@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "landing";

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

h1 {
    font-size: 3rem;

    @media (min-width: 480px) {
        font-size: 4rem;
    }

    @media (min-width: 768px) {
        font-size: 6rem;
    }
}

h2 {
    font-size: 2rem;

    @media (min-width: 480px) {
        font-size: 3rem;
    }

    @media (min-width: 768px) {
        font-size: 4rem;
    }
}

i {

    .media &,
    .card-body & {
        width: 75px;
        height: 75px;
        font-size: 4rem;
    }
}

ul {
    margin-bottom: 0;
}

footer {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;

    & p {
        margin: 0;
        color: white;
    }
}

legend {
    font-size: 1.25rem;
}

.jumbotron {
    text-align: center;
    margin-bottom: 0;
}

.breadcrumb {
    background-color: white;
}

nav.breadcrumb {
    & ol.breadcrumb {
        margin-bottom: 0;
    }
}

.card,
.about-img {
    box-shadow: 2px 2px 3px grey;
}

.about-img {
    width: 150px;
    border-radius: 50%;
}

.about-list li {
    margin-top: 3rem;
}

.lg-main {
    max-width: 90%;
    width: 90%;
}

.lg-card {
    padding: 0;
    text-align: center;
    width: 90%;
}

.media-body {
    & h5 {
        font-size: 1rem;

        @media (min-width: 480px) {
            font-size: 1.25rem;
        }
    }
}

.amenities {
    width: 60%;
    margin: 1rem auto;

    @media (min-width: 768px) {
        width: 90%;
    }

    &.basic {
        width: 95%;
    }
}

.guide-name {
    margin-top: 1rem;
    text-align: center;

    @media (min-width: 768px) {
        margin-top: 0;
        text-align: left;
    }
}

.pkg-details {
    line-height: 2.25rem;
    font-size: 1rem;

    @media (min-width: 480px) {
        line-height: 2.5rem;
        font-size: 1.25rem;
    }
}

.pkg-price,
.addon-price {
    font-family: 'Playfair Display SC', serif;
}

.pkg-price {
    font-size: 2rem;

    @media (min-width: 480px) {
        font-size: 2.5rem;
    }

    @media (min-width: 768px) {
        font-size: 3rem;
    }
}

.addon-price {
    font-size: 1.5rem;
}
