$drk-blue: #253C59;
$blue: #5A798C;
$lght-blue: #95B3BF;
$gold: #BFA004;
$drk-gold: #BF8D30;

$primary: $gold;
$secondary: $blue;
$light: $gold;
$dark: $drk-blue;

$body-color: $drk-blue;

$jumbotron-color: $drk-blue;
$jumbotron-bg: rgba($gold, .4);

$card-color: $blue;

$hr-border-color: rgba($drk-gold, .8);